/* CreateStudentForm.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Full viewport height */
  background-color: #f0f2f5; /* Light gray background */
}

.formWrapper {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
}

.title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
